.image-square-sm {
	max-width: 64px;
	max-height: 64px;
}

.image-square-md {
	max-width: 92px;
	max-height: 92px;
}

.image-square-lg {
	max-width: 128px;
	max-height: 128px;
}

.image-login-logo {
	max-width: 250px;
}

.image-logo-system {
	height: 35px;
}