.sidebar {
	background-color: darken($primary, 10%);
	height: 100%;

	.sidebar-menu {
		list-style: none;
		margin: 0px;
		padding: 0px;
		color: $white;

		.sidebar-menu-item {
			padding: 15px;

			&:hover {
				background-color: darken($primary, 15%);
				transition-duration: 0.3s;
				cursor: pointer;
			}
		}
	}
}